.about {
  padding-bottom: $margin-bot;
  display: flex;
  gap: 45px;
  @media (max-width: 1240px) {
    padding: 0 40px $margin-bot;
  }
  @media (max-width: 1025px) {
    padding-bottom: 38px;
  }
  @media (max-width: 769px) {
    padding-bottom: 18px;
    gap: 0;
  }
  @media (max-width: 700px) {
    padding: 0 20px 300px;
    flex-direction: column;
    gap: 14px;
  }

  &__right {
    position: relative;
  }
  &__left {
    max-width: 678px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    @media (max-width: 1025px) {
      margin-top: 10px;
    }
    @media (max-width: 955px) {
      max-width: 393px;
      margin-top: -40px;
      gap: 30px;
    }
  }

  &__title {
    color: $color;
    font-family: $font-family-bold;
    font-size: $font-size-36;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    @media (max-width: 1025px) {
      font-size: $font-size-32;
    }
    @media (max-width: 769px) {
      font-size: $font-size-28;
    }
    @media (max-width: 360px) {
      font-size: $font-size-24;
      text-align: center;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__items {
    display: flex;
    align-items: center;
    gap: 10px;
    @media (max-width: 972px) {
      align-items: flex-start;
    }
  }
  &__text {
    color: rgb(51, 51, 51);
    font-family: $font-family-reg;
    font-size: $font-size-18;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
    @media (max-width: 360px) {
      font-size: $font-size-16;
    }
    &_fz {
      @media (max-width: 972px) {
        font-size: $font-size-16;
      }
    }
  }
  &__wrap {
    min-width: 20px;
    height: 20px;
    background: rgba(0, 185, 182, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__svg {
    width: 10px;
    height: 11px;
  }
  &__pic {
    position: absolute;
    left: clamp(2.25rem, -5.3214rem + 11.8304vw, 8.875rem);
    display: block;
    width: clamp(22.5rem, 17.0714rem + 8.4821vw, 27.25rem);
    @media (max-width: 1025px) {
      left: 32px;
      width: clamp(20.625rem, 15rem + 11.7188vw, 22.5rem);
    }
    @media (max-width: 768px) {
      width: clamp(20rem, 19.4485rem + 2.451vw, 20.625rem);
      left: 0px;
    }
    @media (max-width: 361px) {
      left: 4px;
      width: clamp(20rem, 19.4485rem + 2.451vw, 20.625rem);
    }
  }
  &__pic-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
