$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-28: 28px;
$font-size-32: 32px;
$font-size-36: 36px;
$font-size-48: 48px;
$font-family-reg: "Inter-Regular", sans-serif;
$font-family-med: "Inter-Medium", sans-serif;
$font-family-semi: "Inter-SemiBold", sans-serif;
$font-family-bold: "Inter-Bold", sans-serif;
$color-black: #333333;
$color-light: #00b9b6;
$color: #0e0e0f;
$color-orange: #ffa800;
$color-white: #ffffff;
$margin-bot: 140px;
$padding-tag: 10px 30px;
